<?xml version='1.0' encoding='utf-8' ?>
<nlog xmlns='http://www.nlog-project.org/schemas/NLog.xsd'
      xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' internalLogFile='c:\Nlog.log'>
  <targets>
    <target name='database' type='Database'>
      <connectionString>
        Data Source=demo;Initial Catalog=SpongeDb;User ID=spongeloguser;Password=pass@word1;
      </connectionString>
      <commandText>
        insert into Logs(log_date,log_level,log_logger, log_version, log_message,log_machine_name, log_user_name, log_call_site, log_thread, log_exception, log_stacktrace) values(@time_stamp, @level, @logger, @version, @message,@machinename, @user_name, @call_site, @threadid, @log_exception, @stacktrace);
      </commandText>
      <parameter name='@time_stamp' layout='${longdate}'/>
      <parameter name='@level' layout='${level}'/>
      <parameter name='@logger' layout='${logger}'/>
      <parameter name='@version' layout='${assembly-version}' />
      <parameter name='@message' layout='${message}'/>
      <parameter name='@machinename' layout='${machinename}'/>
      <parameter name='@user_name' layout='${windows-identity:domain=true}'/>
      <parameter name='@call_site' layout='${callsite:filename=true}'/>
      <parameter name='@threadid' layout='${threadid}'/>
      <parameter name='@log_exception' layout='${exception}'/>
      <parameter name='@stacktrace' layout='${stacktrace}'/>
    </target>
  </targets>
  <rules>
    <logger name='*' minlevel='Debug' appendTo='database'/>
  </rules>
</nlog>