<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sponge.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Sponge.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Sponge.Client.Properties.Settings>
            <setting name="Sponge_Client_ConfigServiceReference_ConfigService"
                serializeAs="String">
                <value>http://demo/_layouts/Sponge/COnfigService.asmx</value>
            </setting>
        </Sponge.Client.Properties.Settings>
        <Sponge.Configuration.Properties.Settings>
            <setting name="Sponge_Common_Configuration_ServiceReference_ConfigService"
                serializeAs="String">
                <value>http://demo:7777/_layouts/Sponge/ConfigService.asmx</value>
            </setting>
        </Sponge.Configuration.Properties.Settings>
    </applicationSettings>
</configuration>