.sponge-spm-table
{
    min-width: 450px;
}

/* SPONGE shoutbox */
   
#sponge_shoutbox_wrapper {
}
 
#sponge_shoutbox_box {
	text-align:left;
	margin-bottom:25px;
	background:#fff;
	height:340px;
	width:290px;
	border:1px solid #ACD8F0;
	overflow:auto; 
}
 
#sponge_shoutbox_usrmsg {
	width:225px;
	border:1px solid #ACD8F0; 
}
 
#sponge_shoutbox_submit { 
	margin-left: 5px;
	width: 60px; 
	height: 20px; 
}

#sponge_shoutbox_entry {
	height: 30px;
	padding: 5px;
	width: 96%;
	border: 1px;
	overflow:hidden;
	display:table;
}

#sponge_shoutbox_box li {
	list-style-type: none;

}

#sponge_shoutbox_box li:nth-of-type(even)
{
    background: #F5F5F5;
}
#sponge_shoutbox_box li:nth-of-type(odd)
{
    background: #fff;
}

#sponge_shoutbox_meta {
	font-size: 0.82em;
	color: #A8A8A8
}

#sponge_shoutbox_msg {
font-size: 1.2em;
}